---
layout: single
classes: 
  - wide
  - with-sidebar
---

<aside class="sidebar sticky">
  <nav class="nav__list">
    {% if site.data.navigation.docs %}
      {% for nav in site.data.navigation.docs %}
        <h3 class="nav__title">{{ nav.title }}</h3>
        {% if nav.children %}
          <ul class="nav__items">
            {% for child in nav.children %}
              <li>
                <a href="{{ child.url | relative_url }}"
                   {% if page.url == child.url %}class="active"{% endif %}>
                  <span class="nav__sub-title">{{ child.title }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  </nav>
</aside>

{{ content }}