name: Build and Deploy Jekyll

on:
  push:
    branches:
      - update-docs
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Build site using Docker Compose
        run: |
          docker-compose run --rm jekyll bundle install
          docker-compose run --rm jekyll jekyll build

      - name: Upload built site to GitHub Pages (optional)
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site